# Hostname
HOSTNAME=localhost

# Port number
PORT=3000

# Visible when sending token to email
HOST=localhost:3000

# URL of the Mongo DB
MONGODB_URL=mongodb://127.0.0.1:27017/test

# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of days after which an auth token expires
JWT_AUTH_EXPIRATION_DAYS=30
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USER=email-server-username
SMTP_PASS=email-server-password
EMAIL_FROM=support@yourapp.com
